@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins:wght@300&display=swap');
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.demo {
  background:linear-gradient(1.87deg, rgba(255, 229, 0, 0.5) -1.18%, rgba(255, 230, 9, 0.435) 3.33%, rgba(255, 231, 23, 0.335) 10.55%, rgba(255, 233, 36, 0.245) 17.77%, rgba(255, 234, 47, 0.17) 25.89%, rgba(255, 234, 56, 0.11) 34.01%, rgba(255, 235, 62, 0.06) 42.13%, rgba(255, 236, 67, 0.025) 51.15%, rgba(255, 236, 70, 0.005) 60.17%, rgba(255, 236, 71, 0) 71.89%);
    clip-path: polygon(0 0, 100% 0, 28% 139%, 77% 210%);
    width: 317px;
    height: 800px;
    position: absolute;
    top: -50%;
    left: 30%;
   padding: 1rem;
}
@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(-359deg);
  }
}
@keyframes rotate {
  from {
      -webkit-transform: rotate(-180deg);
  }
  to {
      -webkit-transform: rotate(-549deg);
  }
}
@keyframes coins {
  50% {
    transform: translateY(30px);
  }
}
@keyframes coin {
  from {
      transform: translateY(160px);
  }
  to {
    transform: translateY(0px);
}
}